:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  appearance: none;
}